<div class="px-0 py-0 my-0 text-center">
    <div class="hero" style="background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
        <div class="hero-text d-flex flex-column align-items-center">
            <h1 class="display-5 fw-bold text-body-emphasis">Book Map</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Book Map offers users the ability to easily upload and catalog their favorite books, creating a personalized digital library that serves as a visual representation of their reading history.</p>
            </div>
        </div>
    </div>
  </div>